################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpCrawler/obj
/SpCrawler/bin
/.vs/SpPrefetchIndexBuilder/v15
/SpCrawler/SpPrefetchIndexBuidler.csproj.user
